/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

.alignright {
float: right;
padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
float: left;
padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #ffff;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
   background-size: cover;
   text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
width: 100%;
margin: auto;
height: 500px;

}

header {
height: 100px;
font-weight: 800;
font-size: 24px;
color: #ffff;
margin: 0 0 10% 0;
width: 100%;
text-align: left;
float: right;
padding: 0 0 10px 10px;
border: 0 0 10% 0;
}

.header h1{
float: left;
padding: 0 0 10px 10px;
}

h2{
  display: inline-flex;
  justify-content: flex-center;
  align-items: center;
font-weight: 800;
font-size: 24px;
text-align: center;
}

.now-button h3{
font-weight: 800;
font-size: 14px;
background: #f9e42e; 
border-radius: 5px;
width: 95px;
margin: 0 20% 0 0;
height: 20px;
margin: 7% auto;
color:#121212;
}

.benefits{
  background: #f0efef ;
  font-weight: 600;
  font-size: 24px;
  color: #121212;
}

.benefits li{
  font-size: 13px;
  font-weight: 300;
}

.benefits h4{
  font-weight: 300;
  font-size: 13px;
}

.testimonial{
  background-color: #033048;
  background-image: url("../images/testimonial_bg.jpg")
  font-size: 18px;

}
.sign-up{
  background-color: #f9e42e;
  height: 80px;
}
.sign-up h1{
  font-weight: 800;
  font-size: 12px;
  background-color: #033048
  border-radius: 5px;
  height: 10px;
}
footer {
  font-size: 24px;
  font-weight: 800;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




